{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <form class="container_block" style="width:100%">
    {% if user == None %}
       <meta http-equiv="refresh" content="0; URL=''" />

    {% else %}
        {% include "main/navigation_bar.html" %}
            <div class="container_block">
                <div class="container">
                    <div class="py-5 text-center">
                        <a href="?type=course">
                            <button type="button" class=" {% if type == "course"  %}active{% endif %}"> Course</button>
                        </a>
                        <a href="?type=lab">
                            <button type="button" class="{% if type == "lab"  %}active{% endif %}">Lab Section</button>
                        </a>
                    </div>

                    {% if type == "course"%}
                        <form method="post" action="#">
                            {% csrf_token %}
                            List of Course
                        </form>

                        {% elif type == "Lab" %}
                        <form method="post" action="#">
                            {% csrf_token %}
                           List of Lab
                        </form>
                    {% endif %}


                    <p>{{message}}</p>
                </div>
            </div>

    {% endif %}

    </div>

{% endblock content %}