{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container_block" style="width:100%">
        {% if user == None %}
            <meta http-equiv="refresh" content="0; URL=''"/>
        {% else %}
            {% include "main/navigation_bar.html" %}
            <div class="container_block">
            {% if user.role == "INSTRUCTOR" or user.role == "TA" %}
                <h1>You do not have permission to create Users or Courses</h1>
            {% else %}
                <div class="container">
                <div class="py-5 text-center">
                    <a href="?type=user">
                        <button type="button"
                                class="btn btn-primary btn-lg {% if type == 'user' or  type == "" %}active{% endif %}">
                            Create User
                        </button>
                    </a>
                    <a href="?type=course">
                        <button type="button"
                                class="btn btn-primary btn-lg {% if type == "course" %}active{% endif %}">Create
                            Course
                        </button>
                    </a>
                    <a href="?type=lab">
                        <button type="button"
                                class="btn btn-primary btn-lg {% if type == "lab" %}active{% endif %}">Create Lab
                            Section
                        </button>
                    </a>
                </div>

                <h4>{{ message }}</h4>


                {% if type == "user" or type == "" %}
                    <div class="row">
                    <br>
                    <div class="col-md-4 mb-4">
                    <form method="post" action="?type=user">
                        {% csrf_token %}
                        <input type="hidden" name="command" value="create">

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>First name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname">
                            </div>
                        </div>
                        <br>
                        <label>Username</label>
                        <input class="form-control" type="Text" name="username">
                        <br>
                        <label>Password</label>
                        <input class="form-control" type="password" name="password">
                        <br>
                        <label>User Type</label>
                        <br>
                        <select name="usertype" class="form-control">
                            <option value="ADMINISTRATOR">Administrator</option>
                            <option value="INSTRUCTOR">Instructor</option>
                            <option value="TA" selected="selected">TA</option>
                        </select>
                        <br>
                        <label>Email</label>
                        <input class="form-control" type="email" name="email">
                        <br>
                        <label>Phone Number</label>
                        <input class="form-control" type="text" name="phone">
                        <br>
                        <label>Address</label>
                        <input class="form-control" type="text" name="address">
                        <br>
                        <input class="btn btn-primary" type="Submit" value="Create User">
                    </form>
                {% elif type == "course" %}
                    <div class="row">
                    <br>
                    <div class="col-md-4 mb-4">
                    <form method="post" action="?type=course">
                        {% csrf_token %}
                        <input type="hidden" name="command" value="createCourse">
                        <label>Course Name</label>
                        <input class="form-control" type="text" name="course_name">
                        <br>
                        <label>Course Instructor</label>
                        <select class="form-control" name="course_instructor">
                            <option value="None"></option>
                            {% for i in users %}
                                <option value={{i.username}}>{{ i.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label>Course Code</label>
                        <input class="form-control" type="text" name="course_code">
                        <br>
                        <input class="btn btn-primary" type="Submit" value="Create Course">
                    </form>
                {% elif type == "lab" %}
                    <div class="row">
                    <br>
                    <div class="col-md-4 mb-4">
                    <form method="post" action="?type=lab">
                        {% csrf_token %}
                        <input type="hidden" name="command" value="createLabSection">
                        <label>Lab TA</label>
                        <select class="form-control" name="lab_TA">
                            <option value="None"></option>
                            {% for i in users %}
                                <option value={{i.username}}>{{ i.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label>Lab Number</label>
                        <input class="form-control" type="text" name="lab_number">
                        <br>
                        <label>Course Name</label>
                        <select class="form-control" name="course">
                            <option value="None"></option>
                            {% for i in courses %}
                                <option value="{{i.course_name}}">{{i.course_name}}</option>
                            {% endfor %}
                        </select>
                        <br>
  <!---                      <br>
                        <label>Course</label>
                        <input class="form-control" type="text" name="course">
                        <br>
                        -->

                        <input class="btn btn-primary" type="Submit" value="Create Lab Section">
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

        </div>

{% endblock content %}