{% load staticfiles %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="{% static 'images/logo.svg' %}" alt="" height="30px" width="30px" class="d-inline-block nav-logo">
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
        </ul>

        <form method="post" action="/" id="logout-form">
            {% csrf_token %}
            <input type="hidden" name="command" value="logout">
            <ul class="nav navbar-nav navbar-right">
                {% if name != "" %}
                    <li><span class="navbar-text">Hello, {{name}}</span></li>
                {% endif %}
                <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </form>

    </div>
</nav>