{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container_block" style="width:100%">
        {% if user == None %}
            <meta http-equiv="refresh" content="0; URL=''"/>

        {% else %}
            {% include "main/navigation_bar.html" %}
            <div class="container_block">
            <div class="container">

            <form action="#" method="post" class="form-inline">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search Users" name="search_string">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>

                {% if results == None or search == "" %}
                    <h3>No search results</h3>
                {% else %}
                    <h3>Search results for: "{{ search }}"</h3>
                    {% for i in results %}
                            <tr>
                                <td>{{ i.username }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.role }}</td>
                                <td><button class="btn btn-primary btn-sm">View</button></td>
                            </tr>
                    {% endfor %}
                {% endif %}
            </table>

            </form>
        {% endif %}
        </div>
        </div>
    </div>

{% endblock content %}