{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container_block" style="width:100%">
        {% if user == None %}
            <meta http-equiv="refresh" content="0; URL=''"/>

        {% else %}
            {% include "main/navigation_bar.html" %}
            <div class="container_block">
            <div class="container">

            {% if user_profile is not None %}

                <h1>Account Details for {{ user_profile.name }}</h1>
                <br>

                {% if edit == "true" %}
                    {% if user.role == "SUPERVISOR" or user.role == "ADMINISTRATOR" %}
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <form method="post" action="/users/?user={{ user_profile.username }}" id="edit_account">
                                    {% csrf_token %}
                                    <input type="hidden" name="command" value="create">

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label>First name</label>
                                            <input type="text" class="form-control" id="firstname" name="firstname"
                                                   placeholder={{ user_profile_name.0 }}>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Last name</label>
                                            <input type="text" class="form-control" id="lastname" name="lastname"
                                                   placeholder={{ user_profile_name.1 }}>
                                        </div>
                                    </div>
                                    <br>
                                    <label>Password</label>
                                    <input class="form-control" type="password" name="password"
                                           placeholder='Change Password'>
                                    <br>
                                    <label>Role</label>

                                    <select name="role" class="form-control">
                                        <option value="SUPERVISOR" {% if user_profile.role == "SUPERVISOR" %}
                                                selected {% endif %}>Supervisor
                                        </option>
                                        <option value="ADMINISTRATOR" {% if user_profile.role == "ADMINISTRATOR" %}
                                                selected {% endif %}>Administrator
                                        </option>
                                        <option value="INSTRUCTOR" {% if user_profile.role == "INSTRUCTOR" %}
                                                selected {% endif %}>Instructor
                                        </option>
                                        <option value="TA" {% if user_profile.role == "TA" %} selected {% endif %}>TA
                                        </option>
                                    </select>
                                    <br>
                                    <label>Email</label>
                                    <input class="form-control" type="email" name="email"
                                           placeholder={{ user_profile.email }}>
                                    <br>
                                    <label>Phone Number</label>
                                    <input class="form-control" type="text" name="phone"
                                           placeholder={{ user_profile.phone }}>
                                    <br>
                                    <label>Address</label>
                                    <input class="form-control" type="text" name="address"
                                           placeholder={{ user_profile.address }}>
                                    <br>
                                    <input class="btn btn-primary" type="Submit" value="Save">
                                </form>
                                <br>
                                <form method="post" action="/users/">
                                    {% csrf_token %}
                                    <input class="btn btn-danger" type="Submit" value="Delete Account" id="delete_account">
                                </form>

                                <script type="text/javascript">
                                    var el = document.getElementById('edit_account');
                                    var e2 = document.getElementById('delete_account');

                                    el.addEventListener('submit', function () {
                                        return confirm('Are you sure you want makes these changes to {{ user_profile.name }}?');
                                    }, false);

                                    e2.addEventListener('submit', function () {
                                        return confirm('Are you sure you want to delete {{ user_profile.name }}?');
                                    }, false);
                                </script>
                            </div>
                        </div>
                    {% else %}
                        <h1>You do not have permission to edit accounts</h1>
                    {% endif %}

                {% else %}
                    <label>Username: </label><br>
                    <span class="account-text">{{ user_profile.username }}</span>

                    <br><br>
                    <label>Name: </label><br>
                    <span class="account-text">{{ user_profile.name }}</span>

                    <br><br>
                    <label>Role: </label><br>
                    <span class="account-text">{{ user_profile.role }}</span>

                    <br><br>
                    <label>Email: </label><br>
                    <span class="account-text">{{ user_profile.email }}</span>

                    <br><br>
                    <label>Phone Number: </label><br>
                    <span class="account-text">{{ user_profile.phone }}</span>

                    <br><br>
                    <label>Address: </label><br>
                    <span class="account-text">{{ user_profile.address }}</span>

                    {% if user.role == "SUPERVISOR" or user.role == "ADMINISTRATOR" %}
                        <br><br>
                        <a href="?user={{ user_profile.username }}&edit=true">
                            <button type="button"
                                    class="btn btn-primary">
                                Account Edit
                            </button>
                        </a>
                    {% endif %}
                {% endif %}

            {% else %}
                <form action="#" method="post" class="form-inline">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Users"
                           name="search_string">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if results is not None %}
                        {% if search == "" %}
                            <h3>Showing all users</h3>
                        {% else %}
                            <h3>Search results for: "{{ search }}"</h3>
                        {% endif %}

                        {% for i in results %}
                            <tr>
                                <td>{{ i.username }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.role }}</td>
                                <td>
                                    <a href="?user={{ i.username }}">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h3>No search results for "{{ search }}"</h3>
                    {% endif %}
                </table>

                </form>
            {% endif %}
        {% endif %}
        </div>
        </div>
    </div>

{% endblock content %}